.aside {
  width: 21%;
  height: 100%;
  background: url(../../images/bg-left.png) no-repeat left center;
  background-size: 100% 100%;
  background-position: 0 0px;
  margin-top: -8px;
  padding-top: 6px;
  .scrollBox {
    height: 60%;
    width: 68%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    overflow-y: auto;

    /*滚动条样式*/
    &::-webkit-scrollbar {
      width: 0px; /*height: 4px;*/
    }

    .scrollItem {
      height: 25px;
      background: url("../../images/tab.png") no-repeat left center;
      background-size: 100% 100%;
      font-family: "PingFangSC-Medium";
      font-size: 12px;
      line-height: 25px;
      padding-left: 10px;
      color: #c8deff;
      margin-top: 8px;

      &:hover {
        background: url("../../images/tab-hover.png") no-repeat left center;
        background-size: 100% 100%;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    .active {
      background: url("../../images/tab-hover.png") no-repeat left center;
      background-size: 100% 100%;
    }
  }
  .showBox {
    height: 40%;
    width: 73%;
    background: #ddd;
  }
}
