.screen {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 600px;
  min-width: 1024px;
  background-image: linear-gradient(
    180deg,
    rgba(16, 24, 31, 0.96) 0%,
    rgba(4, 22, 37, 0.86) 100%
  );
}

.fullScreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw !important;
  height: 100vh !important;
}
